<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#24292e" />
  <meta name="msapplication-TileColor" content="#3cba92">
  <meta name="msapplication-TileImage" content="{{ "/assets/img/favicon/mstile-144x144.png" | prepend: site.baseurl }}">
  <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="{{ "/assets/img/favicon/favicon.ico" | prepend: site.baseurl }}">
  <link rel="icon" type="image/vnd.microsoft.icon" href="{{ "/assets/img/favicons/favicon.ico" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="57x57" href="{{ "/assets/img/favicons/apple-touch-icon-57x57.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ "/assets/img/favicons/apple-touch-icon-60x60.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ "/assets/img/favicons/apple-touch-icon-72x72.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ "/assets/img/favicons/apple-touch-icon-76x76.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ "/assets/img/favicons/apple-touch-icon-114x114.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ "/assets/img/favicons/apple-touch-icon-120x120.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ "/assets/img/favicons/apple-touch-icon-144x144.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ "/assets/img/favicons/apple-touch-icon-152x152.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/img/favicons/apple-touch-icon-180x180.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="36x36" href="{{ "/assets/img/favicons/android-chrome-36x36.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="48x48" href="{{ "/assets/img/favicons/android-chrome-48x48.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="72x72" href="{{ "/assets/img/favicons/android-chrome-72x72.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ "/assets/img/favicons/android-chrome-96x96.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="128x128" href="{{ "/assets/img/favicons/android-chrome-128x128.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="144x144" href="{{ "/assets/img/favicons/android-chrome-144x144.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="152x152" href="{{ "/assets/img/favicons/android-chrome-152x152.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="192x192" href="{{ "/assets/img/favicons/android-chrome-192x192.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="256x256" href="{{ "/assets/img/favicons/android-chrome-256x256.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="384x384" href="{{ "/assets/img/favicons/android-chrome-384x384.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="512x512" href="{{ "/assets/img/favicons/android-chrome-512x512.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="36x36" href="{{ "/assets/img/favicons/icon-36x36.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="48x48" href="{{ "/assets/img/favicons/icon-48x48.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="72x72" href="{{ "/assets/img/favicons/icon-72x72.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ "/assets/img/favicons/icon-96x96.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="128x128" href="{{ "/assets/img/favicons/icon-128x128.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="144x144" href="{{ "/assets/img/favicons/icon-144x144.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="152x152" href="{{ "/assets/img/favicons/icon-152x152.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="160x160" href="{{ "/assets/img/favicons/icon-160x160.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="192x192" href="{{ "/assets/img/favicons/icon-192x192.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="196x196" href="{{ "/assets/img/favicons/icon-196x196.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="256x256" href="{{ "/assets/img/favicons/icon-256x256.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="384x384" href="{{ "/assets/img/favicons/icon-384x384.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="512x512" href="{{ "/assets/img/favicons/icon-512x512.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/img/favicons/icon-16x16.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="24x24" href="{{ "/assets/img/favicons/icon-24x24.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/img/favicons/icon-32x32.png" | prepend: site.baseurl }}">
  <link rel="manifest" href="{{ "/assets/img/favicons/manifest.json" | prepend: site.baseurl }}">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:title"       content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:url"         content="{{ site.url }}">
  <meta name="twitter:card"       content="summary">
  <meta property="og:image"       content="{{ site.url }}{{ "/assets/img/favicons/method-draw-image.png" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
</head>
