.terms{
    margin: auto;
    width: 80%;
}
.terms .table{
    background: "#999999";
    border: 0px;
    font-size: 0.9em;
    text-align: left;
}
.terms .th{
    background: "#eeeeee";
    padding: 5px 10px;
}
.terms .td{
    background: "#ffffff";
    padding: 5px 10px;
}   